<% if shop.errors.any? %>
<div id="error_explanation">
  <h3><%= shop.errors.count %> 個のエラー</h3>
  <ul>
    <% shop.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="shops-new-page">
  <div class="input-form-box">
    <div class="input-forms">
      <%= form_for shop do |f| %>
      <div class="field">
        <%= f.label "店舗名(必須)" %>
        <%= f.text_field :name, class:"input-form", placeholder:"例：スターバックスコーヒー" %>
      </div>
      <div class="field">
        <%= f.label "支店名" %>
        <%= f.text_field :branch, class:"input-form", placeholder:"例：京橋店" %>
      </div>
      <div class="field">
        <%= f.label "フリガナ(必須)" %>
        <%= f.text_field :furigana, class:"input-form", placeholder:"例：スターバックスコーヒーキョウバシテン" %>
      </div>
      <div class="field">
        <%= f.label "略称、別称" %>
        <%= f.text_field :other_name, class:"input-form", placeholder:"例：スタバ" %>
      </div>
      <div class="field">
        <%= f.label "郵便番号(必須)" %>
        <%= f.text_field :postcode, class:"input-form postal_code", id: "address_zipcode" %>
      </div>
      <div class="field">
        <%= f.label "都道府県(必須)" %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: "address" %>
      </div>
      <div class="field">
        <%= f.label "市町区村(必須)" %>
        <%= f.text_field :address_city, class:"input-form",  id:"address_city" %>
      </div>
      <div class="field">
        <%= f.label "番地(必須)" %>
        <%= f.text_field :address_street, class:"input-form",  id: "address_street" %>
      </div>
      <div class="field">
        <%= f.label "建物名・階数" %>
        <%= f.text_field :address_building, class:"input-form" %>
      </div>
      <div class="field">
        <%= f.label "最寄駅" %>
        <%= f.text_field :station_name, class:"input-form", placeholder:"例：京橋" %>
      </div>
      <div class="field">
        <%= f.label "営業時間、定休日" %><br>
        <%= f.text_area :business_hour, class:"input-area", placeholder:"例：月~土[7:00~22:00] 日祝[9:00~21:00]" %>
      </div>
      <% if shop.shop_images.present? %>
      <% else %>
        <div class="field">
          <%= f.label "店舗やメニューの画像(複数選択可)" %>
          <%= f.attachment_field :shop_images_images, multiple: true, id: :shop_imgs %>
          <div class="edit-picture">
            <% shop.shop_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 120, 80, class: :shop_img_prev %>
            <% end %>
          </div>
          <!-- 画像プレビュー用 -->
          <script type="text/javascript">
            $(function() {
              function readURL(input) {
                  if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('shop_img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                  }
              }
              $("#shop_imgs").change(function(){
                  readURL(this);
              });
            });
          </script>
          <!-- 画像プレビュー用 -->
        </div>
      <% end %>
      <div class="field">
        <%= f.label "検索結果に表示するお店の画像(1枚)" %>
        <%= f.attachment_field :head_image, id: :head_img %>
        <div class="edit-picture">
          <% if @shop.head_image.present? %>
          <%= attachment_image_tag shop, :head_image, :fill, 120, 80, id: :head_img_prev %>
          <% else %>
          <%= image_tag 'no_image.png', size: '120x80', id: :head_img_prev %>
          <% end %>
        </div>
        <!-- 画像プレビュー用 -->
        <script type="text/javascript">
          $(function() {
            function readURL(input) {
                if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
            $('#head_img_prev').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                }
            }
            $("#head_img").change(function(){
                readURL(this);
            });
          });
        </script>
        <!-- 画像プレビュー用 -->
      </div>
      <div class="actions">
        <%= f.submit "登録", class:"btn-sticky" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
