<div class="page-title">
  <h1>駅名・店名から探す</h1>
</div>
<div class="narrow-window">
  <div class="search-area">
    <div class="search-field">
      <%= search_form_for @q, url: shops_path do |f| %>
      <div>
        <%= f.select :sorts, {"評価点順": "total_point desc", "登録順": "id desc"} %>
      </div>
        <%= f.search_field :station_name_or_name_or_other_name_cont, class:"input-form" %>
        <%= f.submit "検索", class:"btn-sticky" %>
      <% end %>
    </div>
    <div class="candidate-lists">
      <% if request.url.match(/commit/) %>
        <% @shop.each do |shop| %>
          <%= link_to shop_path(shop), class:"candidate-list" do %>
            <%= attachment_image_tag shop, :head_image, :fill, 120, 90,class:"list-img" %>
            <div class="shop-name">
              <p><%= shop.name %><%= shop.branch %></p>
            </div>
            <% if shop.total_point %>
              <div class="list-shop-point">
                <span class="point"><%= shop.total_point%></span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% if @checked_shop != nil %>
        最近チェックしたお店
          <%= link_to shop_path(@checked_shop.id), class:"candidate-list" do %>
            <%= attachment_image_tag @checked_shop, :head_image, :fill, 120, 90,class:"list-img" %>
            <div class="shop-name">
              <p><%= @checked_shop.name %><%= @checked_shop.branch %></p>
            </div>
            <% if @checked_shop.total_point %>
              <div class="list-shop-point">
                <span class="point"><%= @checked_shop.total_point%></span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
