<h3>駅名から探す</h3>
<%= search_form_for @q, url: shops_path do |f| %>
  <%= f.search_field :station_name_or_name_cont, class:"input-form" %>
  <%= f.submit "検索" %>
<% end %>
<tbody>
    <th><%= sort_link(@q, :total_point, "評価点順") %></th>
    <br>
  <% @shop.each do |shop| %>
    <tr>
      <%= link_to shop_path(shop) do %>
      <td><%= shop.name %></td> <td><%= shop.branch %></td>
      <% end %>
      <td>
        <%= shop.total_point %>
      </td>
    </tr>
    <br>
  <% end %>
</tbody>
