<div class="shops-new-page">
  <div class="page-title">
    <h1>店舗登録</h1>
  </div>
  <% if @shop.errors.any? %>
  <div id="error_explanation">
    <h3><%= @shop.errors.count %> 個のエラー</h3>
    <ul>
      <% @shop.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="input-form-box">
    <div class="input-forms">
      <%= form_for @shop do |f| %>
      <div class="field">
        店舗名
        <%= f.text_field :name, class:"input-form", placeholder:"例：スターバックスコーヒー" %>
      </div>
      <div class="field">
        支店名
        <%= f.text_field :branch, class:"input-form", placeholder:"例：京橋店" %>
      </div>
      <div class="field">
        フリガナ
        <%= f.text_field :furigana, class:"input-form", placeholder:"例：スターバックスコーヒーキョウバシテン" %>
      </div>
      <div class="field">
        最寄駅
        <%= f.text_field :station_name, class:"input-form", placeholder:"例：京橋" %>
      </div>
      <div class="field">
        略称、別称
        <%= f.text_field :other_name, class:"input-form", placeholder:"例：スタバ" %>
      </div>
      <div class="field">
        店舗やメニューの画像
        <%= f.attachment_field :shop_images_images, multiple: true %>
      </div>
        <div class="actions">
          <%= f.submit "登録", class:"btn-sticky" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
