<% if @shop.errors.any? %>
<div id="error_explanation">
  <h3><%= @shop.errors.count %> 個のエラー</h3>
  <ul>
    <% @shop.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<h1>店舗登録</h1>
<%= form_for @shop do |f| %>
  <div class="">
    <label for="">店舗名</label>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <label for="">支店名</label>
    <%= f.text_field :branch %>
  </div>
  <div class="">
    <label for="">フリガナ（全角カナ）</label>
    <%= f.text_field :furigana %>
  </div>
  <div class="">
    <label for="">最寄駅</label>
    <%= f.text_field :station_name %>駅
  </div>
  <div class="">
    <label for="">店舗やメニューの画像</label>
    <%= f.attachment_field :shop_images_images, multiple: true %>
  </div>
  <div class="">
    <%= f.submit "登録" %>
  </div>
<% end %>
