<div class="page-title">
  <h1>レビュー</h1>
</div>
<div class="narrow-window">
  <div class="search-area">
    <h3>レビューする店舗を検索</h3>
    <div class="search-field">
    <%= search_form_for @q, url: "/shops/search" do |f| %>
      <div class="">
        <%= f.select :sorts, {"評価点順": "total_point desc", "登録順": "id desc"}%>
      </div>
        <%= f.search_field :station_name_or_name_or_other_name_cont, class:"input-form" %>
        <%= f.submit "検索", class:"btn-sticky" %>
    <% end %>
    </div>
    <% if request.url.match(/commit/) %>
    <div class="candidate-lists">
      <% @shop.each do |shop| %>
        <%= link_to "/#{shop.id}/posts/new", class:"candidate-list" do %>
          <%= attachment_image_tag shop, :head_image, :fill, 120, 90 ,class:"list-img"%>
          <div class="shop-name">
          <p><%= shop.name %><%= shop.branch %></p>
          </div>
          <% if shop.total_point %>
          <div class="list-shop-point">
            <span class="point"><%= shop.total_point%></span>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
