<div class="shop-info-page">
  <div class="page-title">
    <h1>店舗情報</h1>
  </div>
  <div class="shop-main-info">
    <h2><%= @shop.name %><br><%= @shop.branch %></h2>
    <div class="star" id="star-rate-shop-<%= @shop.id %>"></div>
    <p class="star-number"><%= @shop.total_point %></p>
    <script>
    $('#star-rate-shop-<%= @shop.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @shop.total_point %>,
    });
    </script>
  </div>
  <div class="shop-imgs">
    <%= link_to shop_shop_images_path(@shop.id) do %>
      <% if @shop.shop_images.present? %>
        <% @shop.shop_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 400, 300 %>
        <% end %>
      <% else %>
        <%= image_tag 'no_image.png', size: '400x300' %>
      <% end %>
    <% end %>
  </div>
  <div class="shop-info-details">
    <div class="table-line">
      <div class="table-left">
        <p>営業時間</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <p><%= @shop.business_hour %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>最寄駅</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <p><%= @shop.station_name %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>混み具合</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <div class="star" id="star-rate-shop-congestion-<%= @shop.id %>"></div>
        <script>
        $('#star-rate-shop-congestion-<%= @shop.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @shop.ave_congestion %>,
        });
        </script>
        <p><%= @shop.ave_congestion %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>メニュー</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <div class="star" id="star-rate-shop-menu-<%= @shop.id %>"></div>
        <script>
        $('#star-rate-shop-menu-<%= @shop.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @shop.ave_menu %>,
        });
        </script>
        <p><%= @shop.ave_menu %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>価格帯</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <div class="star" id="star-rate-shop-price-<%= @shop.id %>"></div>
        <script>
        $('#star-rate-shop-price-<%= @shop.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @shop.ave_price %>,
        });
        </script>
        <p><%= @shop.ave_price %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>通信環境</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <div class="star" id="star-rate-shop-wifi-<%= @shop.id %>"></div>
        <script>
        $('#star-rate-shop-wifi-<%= @shop.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @shop.ave_wifi %>,
        });
        </script>
        <p><%= @shop.ave_wifi %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>その他</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <div class="star" id="star-rate-shop-others-<%= @shop.id %>"></div>
        <script>
        $('#star-rate-shop-others-<%= @shop.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @shop.ave_others %>,
        });
        </script>
        <p><%= @shop.ave_others %></p>
      </div>
    </div>
    <div class="table-line">
      <div class="table-left">
        <p>評価数</p>
      </div>
      <div class="table-center">
        <p>:</p>
      </div>
      <div class="table-right">
        <p><%= @post_count %>件</p>
      </div>
    </div>
    <div class="shop-edit-name">
      <% if current_user != nil %>
        <%= link_to "編集", edit_shop_path(@shop.id) %>
      <% end %>
    </div>
    <!-- 投稿一覧 -->
    <div class="reviews-list">
      <h3>レビュー</h3>
      <% if current_user != nil %>
        <%= link_to "レビューを書く", "/#{@shop.id}/posts/new" %>
      <% end %>
      <% @shop.posts.each do |post| %>
        <div class="review">
          <div class="review-name">
            <h4><%= post.user.name %></h4>
          </div>
          <div class="star" id="star-rate-post-<%= post.id %>"></div>
          <script>
          $('#star-rate-post-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.post_total_point %>,
          });
          </script>
          <div class="review-total-point">
            <p><%= post.post_total_point %></p>
          </div>
          <div class="review-point-details">
            <div class="point-line">
              <div class="point-left">
                <p>混み具合</p>
              </div>
              <div class="point-center">
              <p>:</p>
              </div>
              <div class="point-right">
                <p><%= post.congestion %></p>
              </div>
            </div>
            <div class="point-line">
              <div class="point-left">
                <p>メニュー</p>
              </div>
              <div class="point-center">
              <p>:</p>
              </div>
              <div class="point-right">
                <p><%= post.menu %></p>
              </div>
            </div>
            <div class="point-line">
              <div class="point-left">
                <p>価格帯</p>
              </div>
              <div class="point-center">
              <p>:</p>
              </div>
              <div class="point-right">
                <p><%= post.price %></p>
              </div>
            </div>
            <div class="point-line">
              <div class="point-left">
                <p>通信環境</p>
              </div>
              <div class="point-center">
              <p>:</p>
              </div>
              <div class="point-right">
                <p><%= post.wifi %></p>
              </div>
            </div>
            <div class="point-line">
              <div class="point-left">
                <p>その他</p>
              </div>
              <div class="point-center">
              <p>:</p>
              </div>
              <div class="point-right">
                <p><%= post.others %></p>
              </div>
            </div>
          </div>
          <div class="review-text">
            <p><%= post.review %></p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 投稿一覧 -->
    <!-- Googlemap -->
    <div id="map" style="width: 800px; height: 400px;"></div>

    <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
      });
    </script>
    <!-- Googlemap -->
  </div>
</div>
