<div class="">
  <%= @shop.name %>
  <%= @shop.branch %>
  <%= @shop.total_point %>
  <div id="star-rate-shop-<%= @shop.id %>"></div>
  <script>
  $('#star-rate-shop-<%= @shop.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @shop.total_point %>,
  });
  </script>
  <div class="">
    <% if @shop.shop_images.present? %>
      <% @shop.shop_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 400, 300 %>
      <% end %>
    <% else %>
      <%= image_tag 'no_image.png', size: '400x300' %>
    <% end %>
  </div>
  <div class="">
    評価数
    <%= @post_count %>
  </div>
  <table class="">
    <tr class="">
      <th>混み具合</th> <td><%= @shop.ave_congestion %></td>
    </tr>
    <tr class="">
      <th>メニュー</th> <td><%= @shop.ave_menu %></td>
    </tr>
    <tr class="">
      <th>価格帯</th> <td><%= @shop.ave_price %></td>
    </tr>
    <tr class="">
      <th>通信環境</th> <td><%= @shop.ave_wifi %></td>
    </tr>
    <tr class="">
      <th>その他</th> <td><%= @shop.ave_others %></td>
    </tr>
  </table>
</div>
<div class="">
  <h4>営業時間</h4>
  <p><%= @shop.business_hour %></p>
</div>
<div class="">
  <%= link_to "編集", edit_shop_path(@shop.id) %>
</div>
<% @shop.posts.each do |post| %>
<h4><%= post.user.name %></h4>
<table>
  <tr>
    <th>総合評価</th>
    <td><%= post.post_total_point %></td>
    <div id="star-rate-<%= post.id %>"></div>
    <script>
    $('#star-rate-<%= post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= post.post_total_point %>,
    });
    </script>
  </tr>
  <tr>
    <th>混み具合</th>
    <td><%= post.congestion %></td>
  </tr>
  <tr>
    <th>メニュ-</th>
    <td><%= post.menu %></td>
  </tr>
    <th>価格帯</th>
    <td><%= post.price %></td>
  <tr>
    <th>通信環境</th>
    <td><%= post.wifi %></td>
  </tr>
  <tr>
    <th>その他</th>
    <td><%= post.others %></td>
  </tr>
  <tr>
    <th>レビュ-</th>
    <td><%= post.review %></td>
  </tr>
</table>
<% end %>
