<% breadcrumb :edit_user, @user %>
<div class="user-edit-page">
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h3><%= @user.errors.count %> 個のエラー</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="page-title">
    <h1>プロフィール編集</h1>
  </div>
  <div class="input-form-box">
    <div class="input-forms">
      <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class:"input-form" %>
        </div>

        <div class="field">
          <%= f.label :profile_image %>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", id: :profile_img %>
          <% if @user.profile_image.present? %>
            <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, id: :img_prev %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: '80x80', id: :img_prev %>
          <% end %>
          <!-- 画像プレビュー用 -->
          <script type="text/javascript">
            $(function() {
              function readURL(input) {
                  if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                  }
              }
              $("#profile_img").change(function(){
                  readURL(this);
              });
            });
          </script>
          <!-- 画像プレビュー用 -->
        </div>

        <div class="actions">
          <%= f.submit "保存", class:"btn-sticky" %>
        </div>
      <% end %>
    </div>
    <div class="links">
      <%= link_to "アカウント編集はこちら", edit_user_registration_path %>
    </div>
  </div>
  </div>
