<div class="my-page">
  <div class="page-title">
    <h1>マイページ</h1>
  </div>
  <div class="narrow-window">
    <div class="my-info">
        <% if @user.profile_image.present? %>
          <%= attachment_image_tag @user, :profile_image, :fill, 80, 80 %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '80x80' %>
        <% end %>
      <div class="my-info-bottom">
        <div class="my-name">
          <h3><%= @user.name %></h3>
        </div>
        <% if current_user != nil %>
          <% if @user.id == current_user.id %>
            <div class="my-info-edit-link">
              <%= link_to "プロフィールの編集", edit_user_path %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="shop-lists">
      <div class="reviewed-shops">
        <div class="reviewed-shops-title">
          <h4>レビューした店舗</h4>
        </div>
        <% @user.posts.each do |post| %>
        <div class="reviewed-shop">
          <div class="reviewed-shop-main-info">
            <div class="reviewed-shop-name">
              <h5><%= post.shop.name %><br><%= post.shop.branch %></h5>
            </div>
            <div class="reviewed-shop-point">
              <p>総合評価</p>
              <p><%= post.post_total_point %></p>
            </div>
          </div>
          <div class="reviewed-shop-sub-info">
            <div class="sub-info">
              <p>混み具合:<%= post.congestion %></p>
            </div>
            <div class="sub-info">
              <p>メニュー:<%= post.menu %></p>
            </div>
            <div class="sub-info">
              <p>価格帯:<%= post.price %></p>
            </div>
            <div class="sub-info">
              <p>通信環境:<%= post.wifi %></p>
            </div>
            <div class="sub-info">
              <p>その他:<%= post.others %></p>
            </div>
            <div class="sub-info">
              <p>レビュー:<%= post.review.truncate(15) %></p>
            </div>
          </div>
          <div class="reviewed-edit-delete">
            <% if post.user.id == current_user.id %>
              <%= link_to "編集", edit_post_path(post.id) %>
              |
              <%= link_to "削除", post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="registered-shops">
        <div class="registered-shops-title">
          <h4>登録した店舗</h4>
        </div>
        <% @user.shops.each do |shop| %>
          <div class="registered-shop">
            <div class="registered-shop-main-info">
              <div class="registered-shop-name">
                <h5><%= shop.name %><br><%= shop.branch %></h5>
              </div>
              <div class="registered-shop-furigana">
                <p><%= shop.furigana %></p>
              </div>
            </div>
            <div class="registered-shop-sub-info">
              <div class="sub-info">
                <p>最寄駅:<%= shop.station_name %></p>
              </div>
              <div class="sub-info">
                <p>略称・別称:<%= shop.other_name %></p>
              </div>
            </div>
            <div class="registered-edit-delete">
              <% if shop.user.id == current_user.id %>
                <%= link_to "編集", edit_shop_path(shop.id) %>
                |
                <%= link_to "削除", shop_path(shop), method: :delete, data: {confirm: "本当に削除しますか？"} %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
