<div class="password-new-page">
  <div class="page-title">
    <h1>Forgot your password?</h1>
  </div>
  <div class="input-form-box">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
    <div class="input-forms">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-form" %>
        </div>
        <div class="actions">
          <%= f.submit "メールを送信する",class:"btn-sticky" %>
        </div>
    </div>
      <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
