<div class="">
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h3><%= @post.errors.count %> 個のエラー</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h2><%= @post.shop.name %></h2>
  <div class="left-box">
    <%= form_for @post, url: post_path(@post.id) do |f| %>
    <table>
      <tr class="">
        <th>混み具合</th>
        <td>
          <div class="form-group row congestion">
            <%= f.hidden_field :congestion, class: :review_star %>
          </div>
          <script>
            $('.congestion').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[congestion]',
              half: true,
              score: '<%= @post.congestion %>'
            });
          </script>
        </td>
      </tr>
      <tr class="">
        <th>メニュー</th>
        <td>
          <div class="form-group row menu">
            <%= f.hidden_field :menu, class: :review_star %>
          </div>
          <script>
            $('.menu').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[menu]',
              half: true,
              score: '<%= @post.menu %>'
            });
          </script>
        </td>
      </tr>
      <tr class="">
        <th>価格帯</th>
        <td>
          <div class="form-group row price">
            <%= f.hidden_field :price, class: :review_star %>
          </div>
          <script>
            $('.price').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[price]',
              half: true,
              score: '<%= @post.price %>'
            });
          </script>
        </td>
      </tr>
      <tr class="">
        <th>通信環境</th>
        <td>
          <div class="form-group row wifi">
            <%= f.hidden_field :wifi, class: :review_star %>
          </div>
          <script>
            $('.wifi').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[wifi]',
              half: true,
              score: '<%= @post.wifi %>'
            });
          </script>
        </td>
      </tr>
      <tr class="">
        <th>その他</th>
        <td>
          <div class="form-group row others">
            <%= f.hidden_field :others, class: :review_star %>
          </div>
          <script>
            $('.others').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[others]',
              half: true,
              score: '<%= @post.others %>'
            });
          </script>
        </td>
      </tr>
      <tr class="">
        <th>レビュー</th>
        <td><%= f.text_area :review, class:"input-area" %></td>
      </tr>
      <tr class="">
    </table>
    <div class="">
      <%= f.submit "投稿" %>
    </div>
    <% end %>
  </div>
  <div class="right-box">
    <%= image_tag 'review.png', size: '210x250' %>
  </div>
</div>
