<div class="">
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h3><%= @post.errors.count %> 個のエラー</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h2><%= @post.shop.name %></h2>
  <div class="left-box">
    <%= form_for @post, url: "/#{@post.shop_id}/posts/new" do |f| %>
    <table>
      <tr class="">
        <th>混み具合</th>
        <td>
          <% (1..5).each do |n| %>
            <%= f.radio_button :congestion, n.to_f %>
            <%= f.label(:congestion, n) %>
          <% end %>
        </td>
      </tr>
      <tr class="">
        <th>メニュー</th>
        <td>
          <% (1..5).each do |n| %>
            <%= f.radio_button :menu, n.to_f %>
            <%= f.label(:menu, n) %>
          <% end %>
        </td>
      </tr>
      <tr class="">
        <th>価格帯</th>
        <td>
          <% (1..5).each do |n| %>
            <%= f.radio_button :price, n.to_f %>
            <%= f.label(:price, n) %>
          <% end %>
        </td>
      </tr>
      <tr class="">
        <th>通信環境</th>
        <td>
          <% (1..5).each do |n| %>
            <%= f.radio_button :wifi, n.to_f %>
            <%= f.label(:wifi, n) %>
          <% end %>
        </td>
      </tr>
      <tr class="">
        <th>その他</th>
        <td>
          <% (1..5).each do |n| %>
            <%= f.radio_button :others, n.to_f %>
            <%= f.label(:others, n) %>
          <% end %>
        </td>
      </tr>
      <tr class="">
        <th>レビュー</th>
        <td><%= f.text_area :review, class:"input-area" %></td>
      </tr>
      <tr class="">
    </table>
      <%= f.submit "投稿", class:"btn-sticky" %>
    </div>
    <% end %>
  </div>
  <div class="right-box">
    <%= image_tag 'review.png', size: '210x250' %>
  </div>
</div>
