<% breadcrumb :shop_post_new, @post %>
<div class="review-page">
  <div class="page-title">
    <h1>レビューを書く</h1>
  </div>
  <div class="narrow-window">
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= @post.errors.count %> 個のエラー</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="shop-name">
      <h2><%= @post.shop.name %><br><%= @post.shop.branch %></h2>
    </div>
    <%= form_for @post, url: "/#{@post.shop_id}/posts/new" do |f| %>
    <div class="review-input-box">
      <div class="table-line">
        <div class="table-title">
          <p>混み具合</p>
        </div>
        <div class="table-left">
          <p>混んでいる</p>
        </div>
        <div class="table-center">
          <div class="form-group row congestion">
            <%= f.hidden_field :congestion, class: :review_star %>
          </div>
          <script>
            $('.congestion').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[congestion]',
              half: true,
            });
          </script>
        </div>
        <div class="table-right">
          <p>空いている</p>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>メニュー</p>
        </div>
        <div class="table-left">
          <p>不満</p>
        </div>
        <div class="table-center">
          <div class="form-group row menu">
            <%= f.hidden_field :menu, class: :review_star %>
          </div>
          <script>
            $('.menu').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[menu]',
              half: true,
            });
          </script>
        </div>
        <div class="table-right">
          <p>満足した</p>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>価格帯</p>
        </div>
        <div class="table-left">
          <p>高い</p>
        </div>
        <div class="table-center">
          <div class="form-group row price">
            <%= f.hidden_field :price, class: :review_star %>
          </div>
          <script>
            $('.price').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[price]',
              half: true,
            });
          </script>
        </div>
        <div class="table-right">
          <p>安い</p>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>通信環境</p>
        </div>
        <div class="table-left">
          <p>Wi-Fiが弱い</p>
        </div>
        <div class="table-center">
          <div class="form-group row wifi">
            <%= f.hidden_field :wifi, class: :review_star %>
          </div>
          <script>
            $('.wifi').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[wifi]',
              half: true,
            });
          </script>
        </div>
        <div class="table-right">
          <p>Wi-Fiが強い</p>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>その他</p>
        </div>
        <div class="table-left">
          <p>不満な部分があった</p>
        </div>
        <div class="table-center">
          <div class="form-group row others">
            <%= f.hidden_field :others, class: :review_star %>
          </div>
          <script>
            $('.others').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[others]',
              half: true,
            });
          </script>
        </div>
        <div class="table-right">
          <p>満足する部分があった</p>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>レビュー</p>
        </div>
        <div class="table-review">
          <p><%= f.text_area :review, class:"input-area", placeholder:"平日の昼に行きましたが、空いていて勉強しやすかったです．とてもおしゃれなお店だったのでその他を高得点にしました．" %></p>
        </div>
      </div>
    </div>
    <%= f.submit "投稿", class:"btn-sticky" %>
    <% end %>
  </div>
</div>
