<% breadcrumb :post, @post %>
<div class="review-show-page">
  <div class="page-title">
    <h1>レビュー詳細</h1>
  </div>
  <div class="narrow-window">
    <div class="shop-name">
      <h2><%= @post.shop.name %><br><%= @post.shop.branch %></h2>
      <div id="star-rate-post-<%= @post.id %>-total-point"></div>
      <script>
      $('#star-rate-post-<%= @post.id %>-total-point').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @post.post_total_point %>
      });
      </script>
      <p><%= @post.post_total_point %></p>
    </div>
    <div class="review-box">
      <div class="table-line">
        <div class="table-title">
          <p>混み具合<%= @post.congestion %></p>
        </div>
        <div class="table-bottom">
          <div class="table-left">
            <p>混んでいる</p>
          </div>
          <div class="table-center">
            <div id="star-rate-post-<%= @post.id %>-congestion"></div>
            <script>
            $('#star-rate-post-<%= @post.id %>-congestion').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @post.congestion %>,
            });
            </script>
          </div>
          <div class="table-right">
            <p>空いている</p>
          </div>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>メニュー<%= @post.menu %></p>
        </div>
        <div class="table-bottom">
          <div class="table-left">
            <p>不満</p>
          </div>
          <div class="table-center">
            <div id="star-rate-post-<%= @post.id %>-menu"></div>
            <script>
            $('#star-rate-post-<%= @post.id %>-menu').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @post.menu %>,
            });
            </script>
          </div>
          <div class="table-right">
            <p>満足した</p>
          </div>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>価格帯<%= @post.price %></p>
        </div>
        <div class="table-bottom">
          <div class="table-left">
            <p>高い</p>
          </div>
          <div class="table-center">
            <div id="star-rate-post-<%= @post.id %>-price"></div>
            <script>
            $('#star-rate-post-<%= @post.id %>-price').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @post.price %>,
            });
            </script>
          </div>
          <div class="table-right">
            <p>安い</p>
          </div>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>通信環境<%= @post.wifi %></p>
        </div>
        <div class="table-bottom">
          <div class="table-left">
            <p>Wi-Fiが弱い</p>
          </div>
          <div class="table-center">
            <div id="star-rate-post-<%= @post.id %>-wifi"></div>
            <script>
            $('#star-rate-post-<%= @post.id %>-wifi').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @post.wifi %>,
            });
            </script>
          </div>
          <div class="table-right">
            <p>Wi-Fiが強い</p>
          </div>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>その他<%= @post.others %></p>
        </div>
        <div class="table-bottom">
          <div class="table-left">
            <p>不満な部分があった</p>
          </div>
          <div class="table-center">
            <div id="star-rate-post-<%= @post.id %>-others"></div>
            <script>
            $('#star-rate-post-<%= @post.id %>-others').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @post.others %>,
            });
            </script>
          </div>
          <div class="table-right">
            <p>満足する部分があった</p>
          </div>
        </div>
      </div>
      <div class="table-line">
        <div class="table-title">
          <p>レビュー</p>
        </div>
        <div class="table-review">
          <p><%= @post.review %></p>
        </div>
      </div>
      <div class="created-by">
        <p>Created by <span class="user-name"><%= @post.user.name %></span></p>
      </div>
    </div>
  </div>
</div>
