<!DOCTYPE html>
<html>
  <head>
    <title>CafeLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- メニューバー -->
    <header>
      <h1><%= link_to "CafeLog", root_path, class:"title" %></h1>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "店舗検索", root_path %></li>
          <li><%= link_to "レビュー", shops_search_path %></li>
          <li><%= link_to "店舗登録", new_shop_path %></li>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>

    </header>
    <div class="container">
      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
