<!DOCTYPE html>
<html>
  <head>
    <title>CafeLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- この辺いじってメニューバーにして -->
    <header>
      <h1>CafeLog</h1>
      <ul>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
